# 本地环境
**/.DS_Store
**/.local/*
**/.venv/*
**/.conda/*
**/.taskfile/.env

# node_modules
**/node_modules/**
**/pnpm-lock.yaml
**/yarn.lock
**/tsconfig.tsbuildinfo

# 临时目录
**/tmp/**
**/log/**
**/logs/**
**/temp/**
**/cache/**

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# golang
main

# build
/build/
/dist/
